

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="userpage.css" />
    <style>
      body {
        background-color: powderblue;
      }
      h1 {
        color: blue;
        text-align: center;
        font-family: sans-serif;
      }
      li {
        position: relative;
        left: 35vw;
        font-family: sans-serif;
        top:8vw

      }
    </style>
  </head>
  <body>
    <h1>USERNAME: {{user}}: PROFESSION: {{user.job}}</h1><br/>
    
    <h1>PROJECTS</h1>
<ul>
<ol>
        {% for project in projects %}
        <li>{{project}}</li><br/>
        {% endfor %}
      </0l>
</ul><br/>
 
 

  </body>
</html>
